In [ ]:
import pandas as pd
import numpy as np
import pickle

from sqlalchemy import create_engine

In [ ]:
URI = 'postgresql://yeunwjcsjwwzge:24f76f29b196dbec6342d9cbe0588297b58bdbd2e058ac5da8eae280d7d2370c@ec2-18-215-44-132.compute-1.amazonaws.com:5432/d6mvs6tutt0f4m'

engine = create_engine(URI)

df = pd.read_sql('SELECT * FROM games', con=engine)
qb_df = pd.read_sql('SELECT * FROM qb_games', con=engine)
run_df = pd.read_sql('SELECT * FROM rush_games', con=engine)
rec_df = pd.read_sql('SELECT * FROM receiving_games', con=engine)
snaps_df = pd.read_sql('SELECT * FROM snap_counts', con=engine)
roster_df = pd.read_sql('SELECT * FROM depth_charts', con=engine)
kicker_df = pd.read_sql('SELECT * FROM kicker_games', con=engine)

rz_run = pd.read_sql('SELECT * FROM red_zone_rush', con=engine)
rz_rec = pd.read_sql('SELECT * FROM red_zone_rec', con=engine)
rz_qb = pd.read_sql('SELECT * FROM red_zone_qb', con=engine)

In [ ]:
cols = ['game_id', 'team', 'home_team', 'away_team', 'points', 'opp_points', 'rush_yards',
        'pass_yards', 'opp_rush_yds', 'opp_pass_yds', 'off_td', 'spread_line', 'total_line',
        'roof', 'surface', 'temp', 'wind', 'away_coach', 'home_coach', 'referee', 
        'rush_attempt', 'pass_attempt', 'total_plays', 'pass_per_attempt', 'perc_pass',
        'sec_per_play', 'def_sack', 'starting_qb', 'season', 'season_type']

df = df[cols].copy()
df['opp_team'] = np.where(df['home_team'] == df['team'], df['away_team'], df['home_team'])

In [ ]:
# calculating rolling averages

def add_rolling_stats(df=df, n_games=6):

  df['team_rolling_pass_att'] = df.groupby('team')['pass_attempt'].transform(lambda x: x.shift().rolling(n_games).mean())
  df['team_rolling_run_att'] = df.groupby('team')['rush_attempt'].transform(lambda x: x.shift().rolling(n_games).mean())
  df['team_rolling_pass_yds'] = df.groupby('team')['pass_yards'].transform(lambda x: x.shift().rolling(n_games).mean())
  df['team_rolling_run_yds'] = df.groupby('team')['rush_yards'].transform(lambda x: x.shift().rolling(n_games).mean())
  df['team_pass_speed'] = df.groupby('team')['sec_per_play'].transform(lambda x: x.shift().rolling(n_games).mean())
  df['opp_rolling_pass_yds'] = df.groupby('opp_team')['opp_pass_yds'].transform(lambda x: x.shift().rolling(n_games).mean())
  df['opp_rolling_rush_yds'] = df.groupby('opp_team')['opp_rush_yds'].transform(lambda x: x.shift().rolling(n_games).mean())
  df['opp_rolling_sacks'] = df.groupby('opp_team')['def_sack'].transform(lambda x: x.shift().rolling(n_games).mean())

  return df

In [ ]:
qb_cols = ['game_id', 'player', 'att', 'com', 'yards', 'air_yards', 'AYTS', 'interception', 'touchdown',
           'success_x', 'avg_ay_incomp', 'avg_ay_comp', 'rush_att', 'rush_yds',
           'fumbles', 'rush_att_share', 'rush_td', 'epa', 'rush_epa']

qb_df.fillna(0, inplace=True)
qb_df.rename(columns={'success' : 'pass_success', 'com' : 'comp', 'yards' : 'pass_yards'}, inplace=True)
qb_df['pass_success_perc'] = qb_df['pass_success'].div(qb_df['att'])
qb_df['over_300_yds'] = np.where(qb_df['pass_yards'] >= 300, 1, 0)
qb_df['over_100_yds_rush'] = np.where(qb_df['rush_yds'] >= 100, 1, 0)

In [ ]:
def add_qb_rolling_stats(df=qb_df, n=12):

  df['rolling_pass_attempts'] = df.groupby('player')['att'].transform(lambda x: x.shift().ewm(span=9, adjust=True).mean())
  df['rolling_pass_yards'] = df.groupby('player')['pass_yards'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean())
  df['rolling_air_yards'] = df.groupby('player')['air_yards'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean())
  df['rolling_ints'] = df.groupby('player')['interception'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean())
  df['rolling_pass_tds'] = df.groupby('player')['touchdown'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean())
  df['rolling_pass_success'] = df.groupby('player')['pass_success_perc'].transform(lambda x: x.shift().rolling(n, min_periods=1).mean())
  df['rolling_rush_att'] = df.groupby('player')['rush_att'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean())
  df['rolling_rush_yds'] = df.groupby('player')['rush_yds'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean())
  df['rolling_rush_tds'] = df.groupby('player')['rush_td'].transform(lambda x: x.shift().rolling(n, min_periods=1).mean())
  df['rolling_rush_att_share'] = df.groupby('player')['rush_att_share'].transform(lambda x: x.shift().rolling(n, min_periods=1).mean())
  df['rolling_epa_total'] = df.groupby('player')['total_epa'].transform(lambda x: x.shift().ewm(span=15, min_periods=1).mean())
  df['rolling_pass_epa'] = df.groupby('player')['epa'].transform(lambda x: x.shift().ewm(span=10, min_periods=True).mean())
  df['rolling_dk_points'] = df.groupby('player')['dk_points'].transform(lambda x: x.shift().ewm(span=12, adjust=True).mean())

  return df

In [ ]:
def get_rolling_rec(df=rec_df, n=12, m=1):

  df['rolling_targets'] = df.groupby('player_id')['targets'].transform(lambda x: x.shift().ewm(span=5, adjust=True).mean())
  df['rolling_receptions'] = df.groupby('player_id')['rec'].transform(lambda x: x.shift().ewm(span=10, adjust=True).mean())
  df['rolling_air_yards'] = df.groupby('player_id')['air_yards'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean())
  df['rolling_rec_yards'] = df.groupby('player_id')['rec_yards'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean())
  df['rolling_target_share'] = df.groupby('player_id')['target_share'].transform(lambda x: x.shift().ewm(span=4, adjust=True).mean())
  df['rolling_aDOT'] = df.groupby('player_id')['aDOT'].transform(lambda x: x.shift().rolling(n, min_periods=1).mean())
  df['rolling_td'] = df.groupby('player_id')['td'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean())
  df['rolling_rec_dk_points'] = df.groupby('player_id')['rec_dk_points'].transform(lambda x: x.shift().ewm(span=n, adjust=True).mean().fillna(0))

  return df

In [ ]:
def get_rolling_rush(df=run_df, n=15, m=1):

  df['rolling_rush_att'] = df.groupby('player_id')['rush_att'].transform(lambda x: x.shift().ewm(span=6, adjust=True).mean())
  df['rolling_rush_yds'] = df.groupby('player_id')['rush_yds'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())
  df['rolling_rush_td'] = df.groupby('player_id')['rush_td'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())
  df['rolling_rush_att_share'] = df.groupby('player_id')['rush_att_share'].transform(lambda x: x.shift().ewm(span=4, adjust=True).mean().round(1)).mul(100)
  df['rolling_rush_dk_pts'] = df.groupby('player_id')['rush_dk_points'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())

  return df

In [ ]:
rec_df['100_yds_rec'] = (rec_df['rec_yards'] >= 100).astype(int)

rec_df['rec_dk_points'] = (
    (rec_df['rec_yards'] * 0.1)
    .add(rec_df['td'] * 6)
    .add(rec_df['100_yds_rec'] * 3)
    .add(rec_df['rec'] * 1)
)

rec_df['rec_fd_points'] = (
    (rec_df['rec_yards'] * 0.1)
    .add(rec_df['td'] * 6)
    .add(rec_df['rec'] * 0.5)
)

In [ ]:
run_df['100_yds_rush'] = (run_df['rush_yds'] >= 100).astype(int)

run_df['rush_dk_points'] = (
    (run_df['rush_yds'] * 0.1)
    .add(run_df['rush_td'] * 6)
    .add(run_df['100_yds_rush'] * 3)
    .add(run_df['fumbles'] * -1)
)

run_df['rush_fd_points'] = (
    (run_df['rush_yds'] * 0.1)
    .add(run_df['rush_td'] * 6)
    .add(run_df['fumbles'] * -2)
)

In [ ]:
# applying the dk scoring rules 

qb_df['dk_points'] = (
    (qb_df['touchdown'] * 4)
    .add(qb_df['pass_yards'] * 0.04)
    .add(qb_df['over_300_yds'] * 3)
    .add(qb_df['interception'] * -1)
    .add(qb_df['rush_td'] * 6)
    .add(qb_df['rush_yds'] * 0.1)
    .add(qb_df['over_100_yds_rush'] * 3)
    .add(qb_df['fumbles'] * -1)

)

qb_df['fd_points'] = (
    qb_df['rush_yds'].mul(0.1)
    .add(qb_df['rush_td'].mul(6))
    .add(qb_df['pass_yards'].mul(0.04))
    .add(qb_df['interception'].mul(-1))
    .add(qb_df['fumbles'].mul(-2))
    .add(qb_df['touchdown'].mul(4))
)

In [ ]:
qb_df = add_qb_rolling_stats(df=qb_df, n=15)
qb_df.rename(columns={'player' : 'starting_qb'}, inplace=True)
qb_df = qb_df[qb_df['att'] >= 15].copy()

In [ ]:
qb_df

,game_id,player,team,player_id,season_type,att,comp,pass_yards,air_yards,yards_after_catch,...,rush_yds_per_att,success_perc,team_rush_atts,rush_att_share,total_epa,pass_success_perc,over_300_yds,over_100_yds_rush,dk_points,fd_points
0,2010_01_ARI_STL,D.Anderson,ARI,00-0023645,REG,41.0,22.0,297.0,431.0,119.0,...,9.0,1.000,21.0,0.05,6.084989,0.390244,0,0,16.78,16.78
1,2010_01_ARI_STL,S.Bradford,LA,00-0027854,REG,55.0,32.0,253.0,392.0,92.0,...,0.0,0.000,0.0,0.00,-10.421433,0.400000,0,0,11.12,11.12
2,2010_01_ATL_PIT,D.Dixon,PIT,00-0026296,REG,26.0,18.0,236.0,209.0,83.0,...,2.0,0.000,31.0,0.06,1.592035,0.538462,0,0,8.84,8.84
3,2010_01_ATL_PIT,M.Ryan,ATL,00-0026143,REG,44.0,27.0,252.0,379.0,53.0,...,2.0,1.000,25.0,0.08,1.692201,0.545455,0,0,9.48,9.48
4,2010_01_BAL_NYJ,J.Flacco,BAL,00-0026158,REG,38.0,20.0,248.0,400.0,64.0,...,0.5,0.250,35.0,0.11,0.841392,0.500000,0,0,9.12,9.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7681,2021_21_SF_LA,M.Stafford,LA,00-0026498,POST,45.0,31.0,337.0,396.0,152.0,...,1.6,0.200,29.0,0.17,9.727789,0.600000,1,0,24.28,21.28
7682,2021_22_LA_CIN,C.Kupp,LA,00-0033908,POST,1.0,0.0,0.0,5.0,0.0,...,7.0,1.000,23.0,0.04,0.846865,0.000000,0,0,0.70,0.70
7683,2021_22_LA_CIN,J.Burrow,CIN,00-0036442,POST,33.0,22.0,263.0,214.0,144.0,...,1.5,0.500,20.0,0.10,2.661312,0.484848,0,0,14.82,14.82
7684,2021_22_LA_CIN,J.Mixon,CIN,00-0033897,POST,1.0,1.0,6.0,6.0,0.0,...,4.8,0.533,20.0,0.75,0.648517,1.000000,0,0,11.44,11.44
7685,2021_22_LA_CIN,M.Stafford,LA,00-0026498,POST,40.0,26.0,283.0,331.0,150.0,...,2.0,0.333,23.0,0.13,9.488040,0.550000,0,0,21.92,21.92

In [ ]:
roster_df = roster_df[roster_df['position'].isin(['QB', 'RB', 'WR', 'TE'])]
print('The dims of the snaps df are:', snaps_df.shape)

The dims of the snaps df are: (54847, 8)

In [ ]:
snaps_df.rename(columns={'player' : 'full_name'}, inplace=True)

snaps_df = (
    snaps_df
    .merge(roster_df[['player_id', 'season', 'week', 'position', 'depth_team']], how='left', on=['player_id', 'season', 'week'])
    .drop_duplicates()
)

snaps_df.dropna(inplace=True)

print('The dims of the snaps df after the merge are:', snaps_df.shape)

The dims of the snaps df after the merge are: (51147, 10)

In [ ]:
rec_df_names = {id:name for id, name in zip(rec_df.player_id, rec_df.player)}

In [ ]:
snaps_df.loc[((snaps_df['full_name'] == 'Mike Williams') & (snaps_df['team'] != 'LAC')), 'full_name'] = 'none'

In [ ]:
snaps_df = snaps_df.merge(rec_df.drop(columns='player'), how='left', on=['game_id', 'player_id', 'team'])

In [ ]:
snaps_df = snaps_df.sort_values(by=['game_id', 'position'])
snaps_df['offense_pct'] = np.where(snaps_df['season'] == 2021, snaps_df['offense_pct'] * 100, snaps_df['offense_pct'])
rec_df = snaps_df[snaps_df['position'].isin(['RB', 'WR', 'TE'])].copy()

In [ ]:
rec_df.fillna({'targets' : 0,
               'rec' : 0,
               'air_yards' : 0,
               'yac' : 0,
               'rec_yards' : 0,
               'td' : 0,
               'target_share' : 0,
               'aDOT' : 0,
               'yrds_per_rec' : 0,
               'air_yards_share' : 0,
               'yac_per_rec' : 0,
               '100_yds_rec' : 0,
               'rec_dk_points' : 0}, inplace=True)



rec_df = get_rolling_rec(rec_df)
rec_df.reset_index(drop=True, inplace=True)

In [ ]:
rb_df = run_df.join(rec_df.set_index(['game_id', 'player_id']), on=['game_id', 'player_id'], rsuffix='_merged')
rb_df['total_dk'] = rb_df['rush_dk_points'].add(rb_df['rec_dk_points'])
rb_df['total_dk_points'] = rb_df['rush_dk_points'].add(rb_df['rec_dk_points'])
rb_df['total_fd_points'] = rb_df['rush_fd_points'].add(rb_df['rec_fd_points'])
rb_df['rolling_total_dk'] = rb_df.groupby('player_id')['total_dk_points'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())
rb_df['rolling_total_fd'] = rb_df.groupby('player_id')['total_fd_points'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())

rb_df.fillna({'targets' : 0,
               'rec' : 0,
               'air_yards' : 0,
               'yac' : 0,
               'rec_yards' : 0,
               'td' : 0,
               'target_share' : 0,
               'aDOT' : 0,
               'yrds_per_rec' : 0,
               'air_yards_share' : 0,
               'yac_per_rec' : 0,
               '100_yds_rec' : 0,
               'rec_dk_points' : 0,
               'total_dk_points' : 0}, inplace=True)

rb_df = get_rolling_rush(rb_df)
rb_df = get_rolling_rec(rb_df)

In [ ]:
rb_df = rb_df[rb_df['position'] == 'RB'].copy()
rb_df.drop(columns=['full_name'], inplace=True)
rb_df['player_touches'] = rb_df['rush_att'].add(rb_df['targets'])
rb_df['workload_rank'] = rb_df.groupby(['game_id', 'team'])['player_touches'].transform(lambda x: x.rank(ascending=False))
rb_df['rolling_snap_pct'] = rb_df.groupby('player_id')['offense_pct'].transform(lambda x: x.shift().ewm(span=4, adjust=True).mean().round(1))

rb_df['total_team_rb_touches'] = rb_df.groupby(['game_id', 'team'])['player_touches'].transform(lambda x: x.sum())
rb_df['team_rank_avg_touches'] = rb_df.groupby(['team', 'workload_rank'])['player_touches'].transform(lambda x: x.shift().ewm(span=5, adjust=True).mean().round(1))

In [ ]:
rb_df['rolling_player_touches'] = rb_df.groupby('player_id')['player_touches'].transform(lambda x: x.shift().ewm(span=5, adjust=True).mean().round(1))
rb_df['touch_diff'] = rb_df['team_rank_avg_touches'].sub(rb_df['rolling_player_touches'])
rb_df['rolling_workload'] = rb_df.groupby('player_id')['workload_rank'].transform(lambda x: x.shift().ewm(span=5, adjust=True).mean().round(1))
rb_df['workload_diff'] = rb_df['workload_rank'].sub(rb_df['rolling_workload'])

In [ ]:
rec_df = rec_df[rec_df['position'].isin(['WR', 'TE'])].copy()
rec_df['rolling_snap_pct'] = rec_df.groupby('player_id')['offense_pct'].transform(lambda x: x.shift().ewm(span=4, adjust=True).mean())

In [ ]:
rec_team_targets = rec_df.groupby(['game_id', 'team', 'position'], as_index=False).agg({'targets' : 'sum'})

recte_tot_targets = (
    rec_team_targets
    .groupby(['game_id', 'team'], as_index=False)['targets']
    .sum()
    .rename(columns={'targets' : 'total_wr_te_targets'})
    .set_index(['game_id', 'team'])
)

rec_team_targets = rec_team_targets.join(recte_tot_targets, how='left', on=['game_id', 'team'])
rec_team_targets.rename(columns={'targets' : 'position_targets'}, inplace=True)

rec_df = rec_df.join(rec_team_targets.set_index(['game_id', 'team', 'position']), how='left', on=['game_id', 'team', 'position'])

In [ ]:
rec_df['rolling_depth'] = rec_df.groupby('player_id')['depth_team'].transform(lambda x: x.shift().ewm(span=5, adjust=True).mean())
rec_df['depth_diff'] = rec_df['depth_team'].sub(rec_df['rolling_depth']).round(3)

rb_df['rolling_depth'] = rb_df.groupby('player_id')['depth_team'].transform(lambda x: x.shift().ewm(span=5, adjust=True).mean())
rb_df['depth_diff'] = rb_df['depth_team'].sub(rb_df['rolling_depth']).round(3)

rb_df.drop(columns=['total_dk_points', 'team_merged'], inplace=True)

In [ ]:
rec_df['target_workload'] = rec_df.groupby(['game_id', 'team'])['targets'].transform(lambda x: x.rank(ascending=False))
rec_df['team_rank_avg_workload'] = rec_df.groupby('team')['target_workload'].transform(lambda x: x.shift().ewm(span=5, adjust=True).mean().round(1))
rec_df['sum_team_depth_targets'] = rec_df.groupby(['game_id', 'team', 'position', 'depth_team'])['targets'].transform(lambda x: x.sum())
rec_df['rolling_sum_depth'] = rec_df.groupby('team')['sum_team_depth_targets'].transform(lambda x: x.shift().ewm(span=5, adjust=True).mean().round(1))


team_targets_pos_depth = (
    rec_df
    .groupby(['game_id', 'team', 'position', 'depth_team'], as_index=False)['sum_team_depth_targets']
    .max()
    .rename(columns={
        'sum_team_depth_targets' : 'pos_depth_targets'
    })
)


team_targets_pos_depth['rolling_pos_depth_targets'] = (
    team_targets_pos_depth
    .groupby(['team', 'position', 'depth_team'])['pos_depth_targets']
    .transform(
        lambda x:
         x
         .shift()
         .ewm(span=5, adjust=True)
         .mean()
         .round(1))    
)

team_targets_pos_depth['rolling_pos_depth_targets_no_shift'] = (
    team_targets_pos_depth
    .groupby(['team', 'position', 'depth_team'])['pos_depth_targets']
    .transform(
        lambda x:
         x
         .ewm(span=5, adjust=True)
         .mean()
         .round(1))    
)


rec_df = (
    rec_df
    .join(
        team_targets_pos_depth.set_index(['game_id', 'team' ,'position', 'depth_team']),
        how='left',
        on=['game_id', 'team', 'position', 'depth_team']
    )
    .drop(columns={'sum_team_depth_targets'})
)

In [ ]:
rec_df['rolling_depth_target_sum'] = rec_df.groupby(['game_id', 'team', 'position', 'depth_team'])['rolling_targets'].transform(lambda x: x.sum().round(1))
rec_df['rolling_target_diff'] = rec_df['rolling_pos_depth_targets'].sub(rec_df['rolling_depth_target_sum']).round(1)
rec_df.rename(columns={'full_name' : 'player'}, inplace=True)

In [ ]:
kicker_df['kicker_dk_points'] = (
    (kicker_df['pats'] * 1)
    .add(kicker_df['fg_0_39'] * 3)
    .add(kicker_df['fg_40_49'] * 4)
    .add(kicker_df['fg_50_on'] * 5)
)

kicker_df['kicker_fd_points'] = (
    (kicker_df['pats'] * 1)
    .add(kicker_df['fg_0_39'] * 3)
    .add(kicker_df['fg_40_49'] * 4)
    .add(kicker_df['fg_50_on'] * 5)
)

In [ ]:
kicker_df['rolling_pat'] = kicker_df.groupby(['kicker_player_id', 'team'])['pats'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())
kicker_df['rolling_39'] = kicker_df.groupby(['kicker_player_id', 'team'])['fg_0_39'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())
kicker_df['rolling_49'] = kicker_df.groupby(['kicker_player_id', 'team'])['fg_40_49'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())
kicker_df['rolling_50'] = kicker_df.groupby(['kicker_player_id', 'team'])['fg_50_on'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())
kicker_df['rolling_dk_points'] = kicker_df.groupby(['kicker_player_id', 'team'])['kicker_dk_points'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())
kicker_df['rolling_fd_points'] = kicker_df.groupby(['kicker_player_id', 'team'])['kicker_fd_points'].transform(lambda x: x.shift().ewm(span=15, adjust=True).mean())

kicker_df = kicker_df.round(2)

In [ ]:
from sqlalchemy import create_engine
import psycopg2 
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import io

URI = 'postgresql://yeunwjcsjwwzge:24f76f29b196dbec6342d9cbe0588297b58bdbd2e058ac5da8eae280d7d2370c@ec2-18-215-44-132.compute-1.amazonaws.com:5432/d6mvs6tutt0f4m'

def populate_table(df, table_name, URI=URI):

    engine = create_engine(URI)
    print('connected to the database..')
    
    df.head(0).to_sql(table_name, engine, if_exists='replace',index=False) 

    conn = engine.raw_connection()
    cur = conn.cursor()
    print('creating the cursor..')

    output = io.StringIO()
    
    print('writing the csv to file..')
    
    df.to_csv(output, sep='\t', header=False, index=False)
    output.seek(0)
    
    
    contents = output.getvalue()
    
    cur.copy_from(output, table_name, null="") # null values become ''
    
    conn.commit()
    cur.close()
    conn.close()

In [ ]:
def drop_table(table_name, URI):
  
  psyco_conn = psycopg2.connect(URI)
  cursor = psyco_conn.cursor()
  psyco_conn.autocommit = True

  cursor.execute("""DROP TABLE %s;"""%table_name)
  cursor.close()

In [ ]:
populate_table(rb_df, 'rolling_rb_dk', URI)

connected to the database..
creating the cursor..
writing the csv to file..

In [ ]:
populate_table(rec_df, 'rolling_receiver_dk', URI)

connected to the database..
creating the cursor..
writing the csv to file..

In [ ]:
populate_table(qb_df, 'rolling_qb_dk', URI)

connected to the database..
creating the cursor..
writing the csv to file..

In [ ]:
populate_table(kicker_df, 'rolling_kicker_dk', URI)

connected to the database..
creating the cursor..
writing the csv to file..